src/test/resources/client-credentials/client-credentials-dynamic-http-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <configuration>
        <dynamic-config-expiration frequency="10" timeUnit="MILLISECONDS">
            <expiration-policy maxIdleTime="${expirationMaxIdleTime}" timeUnit="MILLISECONDS" />
        </dynamic-config-expiration>
    </configuration>

    <http:request-config name="requestConfigWithOAuth">
        <http:request-connection host="#[vars.host default 'localhost']" port="${port}">
            <http:authentication>
                <oauth:client-credentials-grant-type
                        clientId="${client.id}"
                        clientSecret="${client.secret}"
                        scopes="${scopes}"
                        tokenUrl="${token.url}">
                </oauth:client-credentials-grant-type>
            </http:authentication>
        </http:request-connection>
    </http:request-config>

    <flow name="do-request">
        <http:request config-ref="requestConfigWithOAuth" path="/resource"/>
    </flow>

</mule>
