src/test/munit/client-credentials/client-credentials-through-proxy-inline-config-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
       http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
       http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
       http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <munit:config name="client-credential-through-inline-config" minMuleVersion="4.2.2"/>

    <oauth:token-manager-config name="tokenManagerConfig"/>

    <munit:dynamic-port propertyName="proxyPort" min="1024" max="64000"/>

    <http:listener-config name="oauthProxyListenerConfig">
        <http:listener-connection host="localhost" port="${proxyPort}"/>
    </http:listener-config>

    <flow name="oauth-token-proxy">
        <http:listener path="/token" config-ref="oauthProxyListenerConfig" allowedMethods="POST">
            <http:response>
                <http:headers>
                    #[{'Content-Type' : 'application/json'}]
                </http:headers>
            </http:response>
        </http:listener>
        <set-payload value="#[output application/json --- {status: 200, proxyBaseUrl: 'http://localhost:' ++ ${proxyPort}, access_token: 'rbBQLgJXBEYo83K4Fqs4gu6vpCobc2ya', expires_in:3897}]" mimeType="application/json"/>
    </flow>

    <http:request-config name="requestConfigWithOAuth1">
        <http:request-connection host="localhost" port="${oauth.server.port}">
            <http:authentication>
                <oauth:client-credentials-grant-type
                        clientId="ndli93xdws2qoe6ms1d389vl6bxquv3e"
                        clientSecret="yL692Az1cNhfk1VhTzyx4jOjjMKBrO9T"
                        tokenManager="tokenManagerConfig"
                        scopes="$expected scope"
                        tokenUrl="#['http://localhost:' ++ ${oauth.server.port} ++ '/token']"
                        refreshTokenWhen="#[attributes.statusCode == 500]"
                        responseAccessToken="#[payload['access_token']]"
                        responseExpiresIn="#[payload['expires_in']]">
                    <oauth:proxy-config>
                        <http:proxy name="proxyConfig" host="localhost" port="${proxyPort}" />
                    </oauth:proxy-config>
                </oauth:client-credentials-grant-type>
            </http:authentication>
        </http:request-connection>
    </http:request-config>
    <munit:test name="client credentials through proxy inline" description="Validates client credential using proxy inline definition">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="oauth-token"/>
            <munit:enable-flow-source value="oauth-resource-text"/>
            <munit:enable-flow-source value="oauth-token-proxy"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-payload value="Hi!" />
            <http:request path="/echo-text-plain" method="POST" config-ref="requestConfigWithOAuth1"/>
        </munit:execution>
        <munit:validation>
            <set-payload value="#[payload]" mimeType="text/plain" />
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('Hi!')]"/>
        </munit:validation>
    </munit:test>
</mule>