src/test/munit/client-credentials/client-credentials-through-proxy-inline-config-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
       http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
       http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <munit:config name="client-credential-through-inline-config" minMuleVersion="4.3.0"/>

    <oauth:token-manager-config name="proxyTokenManagerConfig"/>
    <munit:dynamic-port propertyName="proxyPort" min="1024" max="64000"/>

    <http:listener-config name="oauthProxyListenerConfig">
        <http:listener-connection host="localhost" port="${proxyPort}"/>
    </http:listener-config>

    <flow name="oauth-token-proxy">
        <http:listener path="/token" config-ref="oauthProxyListenerConfig" allowedMethods="POST">
            <http:response>
                <http:headers>
                    #[{'Content-Type' : 'application/json'}]
                </http:headers>
            </http:response>
        </http:listener>
        <set-payload value="#[output application/json --- {status: 200, proxyBaseUrl: 'http://localhost:' ++ ${proxyPort}, access_token: 'rbBQLgJXBEYo83K4Fqs4gu6vpCobc2ya', expires_in:3897}]" mimeType="application/json"/>
    </flow>

    <munit:test name="client credentials through proxy inline" description="Validates client credential using proxy inline definition">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="oauth-token"/>
            <munit:enable-flow-source value="oauth-resource-text"/>
            <munit:enable-flow-source value="oauth-token-proxy"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-payload value="Hi!" />
            <http:request path="/echo-text-plain" method="POST" config-ref="requestConfigWithOAuth"/>
        </munit:execution>
        <munit:validation>
            <set-payload value="#[payload]" mimeType="text/plain" />
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('Hi!')]"/>
        </munit:validation>
    </munit:test>
</mule>